@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: grey;
}
.container {
  /* height: 100vh; bad*/
  background-color: white;
  padding: 4rem;
  /* overflow: hidden; */
  width: 100vw;
  min-height: 100vh;
  /* margin: 0 auto; */
  transform-origin: top left;
  transition: transform 0.5s linear;
}
.container.rotate {
  transform: rotate(-20deg);
}
.container img {
  max-width: 100%;
}

.circle-container {
  position: fixed;
  left: -7.5rem;
  top: -7.5rem;
}

.circle {
  /* rotate: -90deg; not supported in unupdated browsers */
  transition: transform 0.5s linear;
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: red;
}

.container.rotate + nav li {
  transform: translateX(0);
  transition-delay: 0.5s;
}
/* .container.rotate .circle {
  transform: rotate(-45deg);
} same result (☞ﾟヮﾟ)☞*/
.circle.rotate {
  transform: rotate(-45deg);
}
.circle button {
  outline: none;
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  height: 7.5rem;
}

.circle #close {
  position: absolute;
  left: 35%;
  bottom: 1%;
}
.circle #open {
  position: absolute;
  bottom: 5%;
  right: 20%;
}

.content {
  margin: 3rem auto;
  max-width: 80rem;
}

nav {
  display: block;
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  color: white;
  list-style: none;
}
nav a {
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
}
nav li i {
  font-size: 1.25rem;

  margin-bottom: 2rem;
  margin-right: 1rem;
}
nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}
